.low-usage {
  color: limegreen;
}

.medium-usage {
  color: white;
}

.high-usage {
  color: tomato;
}

* {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#temperature {
  width: 400px;
  height: 400px;
  margin: auto;
  font-size: 200px;
  border-style: dotted;
  border-radius: 50%;
  border-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
  background-color: grey;
  font-family: monospace;
}

#controls {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
  padding-bottom: 20px;
}

#select-city{
  background-color: transparent;
  padding-bottom: 20px;
}

#city {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: white;
  border-radius: 25px;
}

.mode {
  font-family: monospace;
  border-color: red;
}

button {
  height: 50px;
  width: 50px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}